{% extends 'SonodigestBundle:Layout:layoutpanel.html.twig' %}

{% block bod -%}
    <h1>Carrusel creation</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('admin_carrusel') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
