<!-- Imagen + Caption -->
		<div>
                    <img id="bannerSubcategoria" src="{{ asset('Photos/ciruyproc/Cirugias_procedimientos.png')}}"  style="width: 100%; max-width: 100%;">
                    
                </div>
                <div style="position:absolute; " class="col-md-12 text-center">
                    <img style="display:none;position:absolute; vertical-align: middle;margin-top: -12%;"  id="loading" src='{{ asset('Resources/img/loading.gif') }}'>
                </div>
                
