
{% if registro %}
    
    
        <h2 class="text-center" style="color: #828282; font-family: 'Montserrat', sans-serif; font-weight: 400; font-size: 18px;">{{registro.titulo}}</h2>
        <div style="width: 100px; border-top: 2px solid #76B9C4; margin-left: auto; margin-right: auto; margin-top: 10px;"></div>
        <div style="height: 30px;"></div>
        {{registro.descripcion|raw}}
        <!-- Que Problemas soluciona -->
        <div style="background-color: #F6F6F6; width: 100%; max-width: 100%; height: 50px;">
            <h2 class="text-center" style="color: #828282; font-family: 'Montserrat', sans-serif; font-weight: 400; padding-top: 10px; font-size: 18px;">QUE PROBLEMAS SOLUCIONA?</h2>
            <div style="width: 60px; border-top: 2px solid #76B9C4; margin-left: auto; margin-right: auto; margin-top: 10px;"></div>
        </div>
        <div class="row">
            {% if registro.idproblema|length is divisible by(2)%}
                {% for problema in registro.idproblema %}
                    <div class="col-md-6">
                        <div style="width: 100%; max-width: 100%; height: 30px; background-color: #76B9C4; margin-top: 20px;"> 
                            <p class="text-uppercase text-center" style="color: #FFFFFF; line-height: 30px; font-family: 'Montserrat', sans-serif; font-weight: 400; text-align: center;">{{problema.titulo}}</p> 
                        </div>
                    </div>
                {% endfor %}
            {% else %}   
                {% for key, problema in registro.idproblema %}
                    {% if loop.last %}
                        <div class="col-md-3"></div>
                        <div class="col-md-6">
                            <div style="width: 100%; max-width: 100%; height: 30px; background-color: #76B9C4; margin-top: 20px;"> 
                                <p class="text-uppercase text-center" style="color: #FFFFFF; line-height: 30px; font-family: 'Montserrat', sans-serif; font-weight: 400; text-align: center;">Apendicitis</p> 
                            </div>
                        </div>
                        <div class="col-md-3"></div>
                    {% else %}
                        <div class="col-md-6">
                            <div style="width: 100%; max-width: 100%; height: 30px; background-color: #76B9C4; margin-top: 20px;"> 
                                <p class="text-uppercase text-center" style="color: #FFFFFF; line-height: 30px; font-family: 'Montserrat', sans-serif; font-weight: 400; text-align: center;">{{problema.titulo}}</p> 
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            {% endif %}
        </div>
    

{% else %}
    
    Contenido vacio
    
{% endif %}