<!-- LADO IZQUIERDO -->
				<div class="col-md-4">
					<!-- IGNORAR SOLO DE BACKUP ESTILO DE BOTON PRINCIPAL DE SERVICIO
					<div style="width: 100%; max-width: 100%; height: 50px; background-color: #76B9C4;"> 
						<a class="pull-left text-uppercase" style="color: #FFFFFF; line-height: 50px; margin-left: 10px;font-family: 'Montserrat', sans-serif; font-weight: 400;" >Cirujias Laser</a> 
						<a class="pull-right"><img src="recursos/img/arrow-down.png" style="width: 16px; margin-top: 19px; margin-right: 10px;"></a> 
					</div> -->
					<div style="height: 17px;"><!-- SPACER --></div>
					<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
					  <div class="panel panel-default">
					    <div class="panel-heading" role="tab" id="headingOne" style="width: 100%; max-width: 100%; height: 50px; background-color: #76B9C4; line-height: 30px; font-family: 'Montserrat', sans-serif; font-weight: 400;">
					        <a style="color: #FFF;" charset="pull-left" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
					          CIRUJIAS LASER
					        </a>
					        <a class="pull-right"><img src="{{ asset('Photos/ciruyproc/arrow-down.png')}}" style="width: 16px; margin-right: 10px;"></a> 
					    </div>
					    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
					    	<ul class="list-group">
					      	  <li class="list-group-item">Cras justo odio</li>
					      	  <li class="list-group-item">Dapibus ac facilisis in</li>
					      	  <li class="list-group-item">Morbi leo risus</li>
					      	  <li class="list-group-item">Porta ac consectetur ac</li>
					      	  <li class="list-group-item">Vestibulum at eros</li>
					      	</ul>
					    </div>
					  </div>
					  <div class="panel panel-default">
					    <div class="panel-heading" role="tab" id="headingOne" style="width: 100%; max-width: 100%; height: 50px; background-color: #76B9C4; line-height: 30px; font-family: 'Montserrat', sans-serif; font-weight: 400;">
					        <a style="color: #FFF;" charset="pull-left" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
					          CIRUJIAS LASER
					        </a>
					        <a class="pull-right"><img src="{{ asset('Photos/ciruyproc/arrow-down.png')}}" style="width: 16px; margin-right: 10px;"></a> 
					    </div>
					    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
					      	<ul class="list-group">
					      	  <li class="list-group-item">Cras justo odio</li>
					      	  <li class="list-group-item">Dapibus ac facilisis in</li>
					      	  <li class="list-group-item">Morbi leo risus</li>
					      	  <li class="list-group-item">Porta ac consectetur ac</li>
					      	  <li class="list-group-item">Vestibulum at eros</li>
					      	</ul>
					    </div>
					  </div>
					  <div class="panel panel-default">
					    <div class="panel-heading" role="tab" id="headingThree" style="width: 100%; max-width: 100%; height: 50px; background-color: #76B9C4; line-height: 30px; font-family: 'Montserrat', sans-serif; font-weight: 400;">
					        <a style="color: #FFF;" charset="pull-left" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
					          CIRUJIAS LASER
					        </a>
					        <a class="pull-right"><img src="{{ asset('Photos/ciruyproc/arrow-down.png')}}" style="width: 16px; margin-right: 10px;"></a> 
					    </div>
					    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
					      	<ul class="list-group">
					      	  <li class="list-group-item">Cras justo odio</li>
					      	  <li class="list-group-item">Dapibus ac facilisis in</li>
					      	  <li class="list-group-item">Morbi leo risus</li>
					      	  <li class="list-group-item">Porta ac consectetur ac</li>
					      	  <li class="list-group-item">Vestibulum at eros</li>
					      	</ul>
					    </div>
					  </div>
					</div>
				</div>