<h2 class="text-center" style="color: #828282; margin-top: 40px; font-family: 'Montserrat', sans-serif; font-weight: 400; font-size: 18px;">GALERIA</h2>
<div style="width: 60px; border-top: 2px solid #76B9C4; margin-left: auto; margin-right: auto; margin-top: 10px;"></div></h2>
<div><p style="font-weight: 300; font-size: 30px;" class="text-center">Fotos y videos de nuestros procedimientos</p></div>
<div style="width: 500px; margin-left: auto; margin-right: auto;"><p style="font-weight: 300; font-size: 13px;" class="text-center">Te queremos presentar de una manera mas detalla nuestros metodos y procedimientos con
        la ultima tecnologia que utilizamos. Alerta: Contenido grafico.</p></div>