<a href="{{ path('admin_fotos') }}">
    <div class="col-md-6">
        <div class="picture" style="background: url('http://placehold.it/600x700') no-repeat; ">
            <img src="{{ asset('Photos/galeria/fotos.png')}}" style="width: 100%; max-width: 100%;">
        </div>
    </div>
</a>