<a href="{{ path('admin_videos') }}">
    <div class="col-md-6">
        <div class="picture">
            <img src="{{ asset('Photos/galeria/videos.png')}}" style="width: 100%; max-width: 100%;">
        </div>
    </div>
</a>