<div class="col-md-9">
    <!-- Blog Item -->
    <img src="http://placehold.it/900x300" style="max-width: 100%; width: 100%; margin-top: 30px;">
    <h2 class="text-uppercase blogtitulo">Hello you should check me out </h2>
    <p style="font-weight: 300; font-size: 12px;">Publicado el 10 de Enero 2015 | Por: Dr. Juan Carlos Pachecho | Categoria: Cuidado de Piel</p>
    <p style="font-weight: 300; font-size: 13px;">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi...</p>
    <div class="pull-right"><button class="btn text-uppercase blogboton">LEER MÁS</button></div>
    <div style="margin-top: 60px;"></div>
    <hr>
    <!-- Fin Blog Item -->

    <!-- Blog Item -->
    <img src="http://placehold.it/900x300" style="max-width: 100%; width: 100%;">
    <h2 class="text-uppercase blogtitulo">Hello you should check me out </h2>
    <p style="font-weight: 300; font-size: 12px;">Publicado el 10 de Enero 2015 | Por: Dr. Juan Carlos Pachecho | Categoria: Cuidado de Piel</p>
    <p style="font-weight: 300; font-size: 13px;">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi...</p>
    <div class="pull-right"><button class="btn text-uppercase blogboton">LEER MÁS</button></div>
    <div style="margin-top: 60px;"></div>
    <hr>
    <!-- Fin Blog Item -->
</div>