<div class="col-md-3">
    <div style="margin-top: 30px;"></div>
    <button class="btn text-uppercase blogbotonnav">Categoria 1</button>
    <button class="btn text-uppercase blogbotonnav">Categoria 2</button>
    <button class="btn text-uppercase blogbotonnav">Categoria 3</button>
    <button class="btn text-uppercase blogbotonnav">Categoria 4</button>
</div>