<link rel="stylesheet" href="{{ asset('Resources/css/panel.css') }}" />
<!-- Regreso -->
<div class="container" style="margin-top: 20px;">
    <a href="{{ path('admin_tratamos') }}"><div class="botonpanel">Regresar a Pagina Anterior</div></a>
</div>