<!-- Descripcion de Problema -->
<div class="container">
    <h2 class="text-center" style="color: #828282; margin-top: 50px; font-family: 'Montserrat', sans-serif; font-weight: 400; font-size: 18px;">{{problema.titulo}}</h2>
    <div style="width: 100px; border-top: 2px solid #76B9C4; margin-left: auto; margin-right: auto; margin-top: 10px;"></div>
    <div style="height: 30px;"></div>
    {{problema.descripcion|raw}}
    
</div>