<!-- Titulo de Otros Problemas Relacionados -->
<h2 class="text-center" style="color: #828282; margin-top: 30px; font-family: 'Montserrat', sans-serif; font-weight: 400; font-size: 18px;">OTROS PROBLEMAS EN LOS CUALES PODEMOS AYUDARTE</h2>
<div style="width: 60px; border-top: 2px solid #76B9C4; margin-left: auto; margin-right: auto; margin-top: 10px;"></div></h2>

<!-- Lista de Problemas -->
<div class="container" style="margin-top: 30px;">
    <div class="row">
        <div class="col-md-6" style="background: url('http://placehold.it/600x100'); max-width: 100%; height: 100px; margin-top: 15px;">
            <p class="text-right" style="color: #FFF; text-shadow: 1px 1px #262626; font-family: 'Montserrat', sans-serif; font-weight: 400; font-size: 22px; line-height: 100px;">APENDICITIS</p>
        </div>
        <div class="col-md-6" style="background: url('http://placehold.it/600x100'); max-width: 100%; height: 100px; margin-top: 15px;">
            <p class="text-right" style="color: #FFF; text-shadow: 1px 1px #262626; font-family: 'Montserrat', sans-serif; font-weight: 400; font-size: 22px; line-height: 100px;">CANCER DE ESTOMAGO</p>
        </div>
        <div class="col-md-6" style="background: url('http://placehold.it/600x100'); max-width: 100%; height: 100px; margin-top: 15px;">
            <p class="text-right" style="color: #FFF; text-shadow: 1px 1px #262626; font-family: 'Montserrat', sans-serif; font-weight: 400; font-size: 22px; line-height: 100px;">APENDICITIS</p>
        </div>
        <div class="col-md-6" style="background: url('http://placehold.it/600x100'); max-width: 100%; height: 100px; margin-top: 15px;">
            <p class="text-right" style="color: #FFF; text-shadow: 1px 1px #262626; font-family: 'Montserrat', sans-serif; font-weight: 400; font-size: 22px; line-height: 100px;">CANCER DE ESTOMAGO</p>
        </div>
    </div>
</div>