<?php $activePage = "home" ?>
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Bienvenido a Sonodigest - El Salvador</title>

    <!-- Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Francois+One|Ubuntu+Condensed|Roboto:300' rel='stylesheet' type='text/css'>
    
    <!-- Bootstrap -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
  </head>
  <body>

    <!-- Barra de navegacion -->
    <?php //include ("php/navbar.php") ?>

    <!-- Image Slider -->
    <div class="container-fluid">
      
        <img src="img/fondo/imagenfondo.jpg" style="max-width: 100%;">
      
    </div>

    <!-- Footer -->
    <?php //include ("php/footer.php") ?>
        
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.js"></script>
    
    
  </body>
</html>

