
{% block body -%}
    <h1>Crear Categoria</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('admin_categoria') }}">
            Regresar a la lista
        </a>
    </li>
</ul>
{% endblock %}
