{% spaceless   %}
             
                          
         <div class="row">
        <div class="col-md-12">         
            <div class="panel bg-grd-light" data-fill-color="true">
                <div class="panel-body">
 
                        <div class="col-md-4">  
                              {# <p class="text"><i class=""> Tratamiento </i> </p> #}
                            {{ form_row(form.file) }}
                          </div> 
                         
                      {#    <div class="col-md-5"> #}
                           {#   <p class="text"><i class=""> Sesiones </i> </p> #}
                       {#     {{ form_row(form.fileDespues) }}
                          </div>  #}

                </div><!-- /.panel-body -->
              </div><!-- /.panel -->        
                          
           </div>  
          </div>                
             
{% endspaceless   %}