/* (map-get( $preferences, 'grid') * 2) + ( map-get( $preferences, 'grid')  / 3); */
@font-face {
  font-family: 'Office Code Pro';
  src: url("../fonts/OfficeCodePro-Regular.woff"); }
code[class*="language-"],
pre[class*="language-"] {
  position: relative;
  color: #EDE480;
  background-color: #393E45; }

pre[class*="language-"] {
  word-break: normal;
  word-wrap: normal;
  overflow: auto;
  max-height: 420px; }

code[class*="language-"] {
  white-space: pre; }

pre[class*="language-"]::-webkit-scrollbar {
  width: 14px;
  height: 14px;
  background-color: transparent; }

pre[class*="language-"]::-webkit-scrollbar-track {
  background-color: transparent; }

pre[class*="language-"]::-webkit-scrollbar-thumb:vertical {
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="14" height="296" viewBox="0 -135 14 296" enable-background="new 0 -135 14 296"><path fill="#48CFAD" d="M6-129h2v290h-2z"/></svg>') no-repeat; }

pre[class*="language-"]::-webkit-scrollbar-thumb:horizontal {
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="600" height="14" viewBox="0 0 600 14"><path fill="#48CFAD" d="M10 6h590v2h-590z"/></svg>') no-repeat; }

pre[class*="language-"]::-webkit-scrollbar-corner {
  background-color: transparent; }

pre[class*="language-"]::-webkit-resizer {
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="13" height="13" viewBox="0 0 13 13"><path fill="#48CFAD" d="M13 13h-13l13-13z"/></svg>') no-repeat;
  background-position: bottom right; }

code[class*="language-"].language-markup,
pre[class*="language-"].language-markup,
code[class*="language-"].language-javascript,
pre[class*="language-"].language-javascript {
  color: #fff; }

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata,
.token.entity,
.language-css .token.string,
.language-scss .token.string,
.style .token.string {
  color: #777; }

.token.property,
.language-markup .token.punctuation {
  color: #92BFBF; }

.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted,
.language-css .token.selector,
.language-scss .token.selector {
  color: #B4D388; }

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: #EDE480; }

.token.punctuation {
  color: #F4F4F4; }

.token.attr-value,
.token.keyword {
  color: #BDDCDC; }

.token.operator,
.token.atrule,
.token.function,
.token.url,
.language-css .token.keyword,
.language-scss .token.keyword,
.token.regex,
.token.variable {
  color: #F49D62; }

.token.important {
  color: #CF5340; }

.token.entity {
  cursor: help; }

pre[class*='language-'][data-language]::before {
  content: attr(data-language);
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  padding: 4px 8px;
  font-family: "Office Code Pro", Monaco, Consolas, monospace;
  font-size: 10px;
  background: #434A54;
  color: #ccc;
  text-transform: uppercase;
  border-radius: 0 0 0 5px; }

.no-indicator:before {
  display: none; }

pre.line-numbers {
  padding-left: 4.5em;
  counter-reset: linenumber; }

pre.line-numbers > code {
  position: relative; }

.line-numbers .line-numbers-rows {
  position: absolute;
  pointer-events: none;
  top: 0;
  left: -4.5em;
  width: 3em;
  /* works for line-numbers below 1000 lines */
  border-right: 1px solid #434A54;
  user-select: none; }

.line-numbers-rows > span {
  pointer-events: none;
  display: block;
  counter-increment: linenumber; }

.line-numbers-rows > span:before {
  content: counter(linenumber);
  color: #5a6370;
  display: block;
  padding-right: 0.8em;
  text-align: right; }

@media (min-width: 768px) {
  body.wrapkit-header-fixed-top {
    padding-top: 0; }

  body.wrapkit-sidebar-fixed .sidebar,
  body.wrapkit-header-fixed-top.wrapkit-sidebar-fixed .sidebar {
    top: 0;
    box-shadow: none; }

  .content-wrapper > .content {
    padding: 20px 30px; } }
@media (min-width: 992px) {
  .content-wrapper > .content {
    padding: 20px 60px; } }
@media (max-width: 768px) {
  .navbar > .container .navbar-brand,
  .navbar > .container-fluid .navbar-brand {
    margin-left: 15px !important; } }
.page-header {
  color: #48CFAD;
  border-bottom-width: 2px; }

.code {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace; }

.color-box {
  padding: 24px;
  display: block;
  text-align: center;
  max-width: 600px; }

.list-style-helper {
  padding: 0;
  list-style: none;
  margin-right: -6px;
  margin-left: -6px; }
  .list-style-helper:before, .list-style-helper:after {
    content: " ";
    display: table; }
  .list-style-helper:after {
    clear: both; }
  .list-style-helper > li {
    padding: 0 6px;
    float: left;
    width: 100%; }
    @media (min-width: 1200px) {
      .list-style-helper > li {
        width: 50%; } }
  .list-style-helper .ci {
    padding: 18px 0;
    border-bottom: 1px solid rgba(22, 24, 27, 0.12); }
    .list-style-helper .ci:before, .list-style-helper .ci:after {
      content: " ";
      display: table; }
    .list-style-helper .ci:after {
      clear: both; }
  .list-style-helper .cn {
    font-weight: bold;
    width: 30%;
    float: left; }
  .list-style-helper .cd {
    float: left;
    width: 70%; }

.themes-box {
  position: absolute;
  top: 15px;
  right: 15px;
  z-index: 2; }
  .themes-box .sidebar-block-item {
    display: block;
    float: left;
    border: 0px solid rgba(22, 24, 27, 0.12);
    width: 24px;
    height: 24px;
    -webkit-transition: all 250ms ease-out;
    -o-transition: all 250ms ease-out;
    transition: all 250ms ease-out; }
    .themes-box .sidebar-block-item:focus, .themes-box .sidebar-block-item:hover {
      border-width: 8px; }

.content-wrapper.content-dark,
.content-wrapper.content-dark .content {
  background-color: #16181B;
  color: #AAB2BD; }
  .content-wrapper.content-dark .page-header,
  .content-wrapper.content-dark .content .page-header {
    border-color: rgba(245, 247, 250, 0.12); }
  .content-wrapper.content-dark table,
  .content-wrapper.content-dark .content table {
    background-color: #393E45; }
    .content-wrapper.content-dark table thead,
    .content-wrapper.content-dark .content table thead {
      color: #CCD1D9; }
  .content-wrapper.content-dark code:not([class*="language-"]),
  .content-wrapper.content-dark .content code:not([class*="language-"]) {
    color: #FFCE54;
    background-color: rgba(255, 206, 84, 0.12); }

/*# sourceMappingURL=docs.css.map */
