<div class="col-md-3"></div>
<div class="col-md-3">
    <a href="{{ path('admin_inicio') }}"><div class="botonpanel">Página principal</div></a>
</div>
<div class="col-md-3">
    <a href="{{ path('admin_panel') }}"><div class="botonpanel">Regresar al Panel</div></a>
</div>
<div class="col-md-3"></div>