{% block esta %}
    <!-- Estadisticas -->
    <div class="container" style="height: 250px; margin-bottom: 70px;">
        <h2 class="text-center" style="color: #828282; margin-top: 70px; font-family: 'Montserrat', sans-serif; font-weight: 400; font-size: 18px;">OUR STATS
            <div style="width: 60px; border-top: 2px solid #76B9C4; margin-left: auto; margin-right: auto; margin-top: 10px;"></div></h2>
        <div class="row">
            <div class="col-md-3">
                <div class="row">
                    <div class="col-md-4" style="padding: 0 !important;">
                        <img src="http://placehold.it/90x90" style="max-width: 100%; margin-top: 20px;">
                    </div>
                    <div class="col-md-8" style="padding: 0 !important;">
                        <div style="font-size: 50px; margin-top: 13px;">
                            <div style="width: 1.2em; height: 1.2em; overflow: hidden; line-height: 1em; display: inline-block;">
                                <span class="animate" id='digit1'>1 2 3 4 5 6 7 8 9 10 11 12 13 14 15</span>
                            </div>
                        </div>
                        <div style="font-size: 12px; margin-left: 10px;">TEAM MEMBERS</div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="row">
                    <div class="col-md-4" style="padding: 0 !important;">
                        <img src="http://placehold.it/90x90" style="max-width: 100%; margin-top: 20px;">
                    </div>
                    <div class="col-md-8" style="padding: 0 !important;">
                        <div style="font-size: 50px; margin-top: 13px;">
                            <div style="width: 1.2em; height: 1.2em; overflow: hidden; line-height: 1em; display: inline-block;">
                                <span class="animate" id='digit1'>1 2 3 4 5 6 7 8 9 10 11 12 13 14 15</span>
                            </div>
                        </div>
                        <div style="font-size: 12px; margin-left: 10px;">TEAM MEMBERS</div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="row">
                    <div class="col-md-4" style="padding: 0 !important;">
                        <img src="http://placehold.it/90x90" style="max-width: 100%; margin-top: 20px;">
                    </div>
                    <div class="col-md-8" style="padding: 0 !important;">
                        <div style="font-size: 50px; margin-top: 13px;">
                            <div style="width: 1.2em; height: 1.2em; overflow: hidden; line-height: 1em; display: inline-block;">
                                <span class="animate" id='digit1'>1 2 3 4 5 6 7 8 9 10 11 12 13 14 15</span>
                            </div>
                        </div>
                        <div style="font-size: 12px; margin-left: 10px;">TEAM MEMBERS</div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="row">
                    <div class="col-md-4" style="padding: 0 !important;">
                        <img src="http://placehold.it/90x90" style="max-width: 100%; margin-top: 20px;">
                    </div>
                    <div class="col-md-8" style="padding: 0 !important;">
                        <div style="font-size: 50px; margin-top: 13px;">
                            <div style="width: 1.2em; height: 1.2em; overflow: hidden; line-height: 1em; display: inline-block;">
                                <span class="animate" id='digit1'>1 2 3 4 5 6 7 8 9 10 11 12 13 14 15</span>
                            </div>
                        </div>
                        <div style="font-size: 12px; margin-left: 10px;">TEAM MEMBERS</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}