<footer class="footer-wrapper" role="contentinfo">
    <div class="footer">
        <div class="pull-right text-muted"><small>Currently v1.2</small></div>
        <div>Digitality Garage  &copy; 2015</div>
    </div>
</footer><!-- /.FOOTER -->