<!-- Footer -->
		<div class="container-fluid" style="border-top: 1px solid #F6F6F6;"></div>
		<div class="container hidden-sm hidden-xs" style="background-color: #FFF; line-height: 60px;">
				<div class="col-md-12">
				<p class="pull-left" style="color: #262626; height: 50px; font-size: 12px;">Sonodigest &copy; {{ "now"|date("Y") }}</p>
				<p class="pull-right" style="color: #262626; height: 50px; font-size: 12px;  margin-right: 20px;">Designed and Developed with <img src="http://marvinvigil.info/laplusbelle/img/heart.png" style="height: 12px; margin-left: 5px; margin-right: 5px;"> by Digitality Garage Web Studio <a href="http://www.digitalitygarage.com" style="color: #262626;" target="_blank">www.digitalitygarage.com</a></p>
			</div>
		</div>

		<div class="container hidden-md hidden-lg" style="background-color: #FFF;">
			<div class="row">
				<div class="col-md-12">
				 <p class="text-center" style="color: #262626; font-size: 12px; margin-top: 15px;">Sonodigest &copy; {{ "now"|date("Y") }} </p>
				<p class="text-center" style="color: #262626; font-size: 12px;">Designed and Developed with <img src="http://marvinvigil.info/laplusbelle/img/heart.png" style="height: 12px; margin-left: 5px; margin-right: 5px;"> by Digitality Garage Web Studio <a href="http://www.digitalitygarage.com" style="color: #FFF;" target="_blank">www.digitalitygarage.com</a></p>
			</div>
		</div>