<div class="col-md-4"></div>
<div class="col-md-4">
    <div class="text-center" style="margin-top: 40px;">
      <img src="{{ asset('Photos/index/logo.png')}}">
    </div>
</div>
<div class="col-md-4"></div>
<div class="clearfix"></div>
  