{% block nav -%}
    <nav>
      <div style="height: 2px; background-color: #09F;"></div>
        <div class="container-fluid">
            <div class="pull-left" style="margin-top: 20px;">
              <img src="{{ asset('Photos/index/logo.png')}}" style="margin-left: 30px;">
            </div>
            <div class="pull-right" style="margin-top: 32px;">
                <ul style="display: inline;">
                    <li style="display: inline; padding: 20px; color: #8282820; font-family: 'Montserrat', sans-serif; font-weight: 400px; font-size: 13px;" class="text-uppercase">Inicio </li>
                    <li style="display: inline; padding: 20px; color: #8282820; font-family: 'Montserrat', sans-serif; font-weight: 400px; font-size: 13px;" class="text-uppercase">Staff </li>
                    <li style="display: inline; padding: 20px; color: #8282820; font-family: 'Montserrat', sans-serif; font-weight: 400px; font-size: 13px;" class="text-uppercase">Servicios </li>
                    <li style="display: inline; padding: 20px; color: #8282820; font-family: 'Montserrat', sans-serif; font-weight: 400px; font-size: 13px;" class="text-uppercase">Problemas </li>
                    <li style="display: inline; padding: 20px; color: #8282820; font-family: 'Montserrat', sans-serif; font-weight: 400px; font-size: 13px;" class="text-uppercase">Blog </li>
                    <li style="display: inline; padding: 20px; color: #8282820; font-family: 'Montserrat', sans-serif; font-weight: 400px; font-size: 13px;" class="text-uppercase">Contacto </li>
                </ul>
            </div>
        </div>
      <div style="height: 1px; background-color: #ddd; margin-top: 20px;"></div>
    </nav>
{%endblock%}