    <!-- Sucursales -->
        <div class="container-fluid" style="background-color: #3B4754;">
            <div class="container" style="margin-bottom: 70px; background-color: #3B4754;">
                <div class="row">
                    <h2 class="text-center" style="color: #828282; margin-top: 70px; color: #FFF; font-family: 'Montserrat', sans-serif; font-weight: 400; font-size: 18px;">NUESTRAS SUCURSALES</h2>
                    <div style="width: 60px; border-top: 2px solid #76B9C4; margin-left: auto; margin-right: auto; margin-top: 10px;"></div></h2>
                    <div class="col-md-6">
                        <h2 class="text-center" style="color: #828282; margin-top: 50px; color: #FFF; font-family: 'Montserrat', sans-serif; font-weight: 400; font-size: 18px;">ESCALON</h2>
                        <div style="width: 60px; border-top: 2px solid #76B9C4; margin-left: auto; margin-right: auto; margin-top: 10px;"></div></h2>
                        <div><p style="font-weight: 300; font-size: 30px; color: #FFF;" class="text-center">Colonia Escalon, Calle Cuscatlan, No. 448, 85 Av Sur San Salvador</p></div>
                        <div style="width: 500px; margin-left: auto; margin-right: auto; color: #FFF;"><p style="font-weight: 300; font-size: 13px;" class="text-center">
                        Telefono: (503) 2434 - 5857 </p></div>
                    </div>
                    <div class="col-md-6">
                        <h2 class="text-center" style="color: #828282; margin-top: 50px; color: #FFF; font-family: 'Montserrat', sans-serif; font-weight: 400; font-size: 18px;">SANTA ELENA</h2>
                        <div style="width: 60px; border-top: 2px solid #76B9C4; margin-left: auto; margin-right: auto; margin-top: 10px;"></div></h2>
                        <div><p style="font-weight: 300; font-size: 30px; color: #FFF;" class="text-center">Madre Selva calle conchagua oriente #18 Antiguo Cuscatlan</p></div>
                        <div style="width: 500px; margin-left: auto; color: #FFF; margin-right: auto;"><p style="font-weight: 300; font-size: 13px;" class="text-center">
                        Telefono: (503) 2519 - 5937 </p></div>
                    </div>
                </div>
            </div>
        </div>
