 {#<iframe width="420" height="315"
src="http://www.youtube.com/embed/XGSy3_Czz8k?autoplay=0?autohide=1?value=1">
</iframe> #}
 
 {#<div class="text-center"><iframe src="http://www.youtube.com/embed/?listType=user_uploads&list=DanielMuela&autoplay=0" width="700" height="400" frameBorder="0"></iframe ></div>#}
 
 {#<script src="{{asset('http://www.gmodules.com/ig/ifr?url=http://www.google.com/ig/modules/youtube.xml&up_channel=DanielMuela&synd=open&w=320&h=390&title=TUTRIAL SIMFONY&border=&output=js')}}"></script>#}
 {#<script src="http://www.gmodules.com/ig/ifr?url=http://www.google.com/ig/modules/youtube.xml&up_channel=DanielMuela&synd=open&w=320&h=390&title=TUTRIAL SIMFONY&border=&output=js"></script>#}
 
 {#<script src=”http://www.gmodules.com/ig/ifr? url=http://www.google.com/ig/modules/youtube.xml&up_channel=smosh&synd=open&w=400&h=300&title=Título+del+Canal&border=&output=js”> </script>#}
 
 <div class="text-center"><iframe src="http://www.youtube.com/embed/?listType=user_uploads&list=DanielMuela" width="480" height="400" frameBorder="0"></iframe ></div>