<!-- Lista de Problemas -->
		<div class="container" style="margin-top: 30px;">
			<div class="row">
				<a href="problema.php"><div class="col-md-6" style="background: url('http://placehold.it/600x100'); max-width: 100%; height: 100px; margin-top: 15px;">
					<p class="text-right" style="color: #FFF; text-shadow: 1px 1px #262626; font-family: 'Montserrat', sans-serif; font-weight: 400; font-size: 22px; line-height: 100px;">APENDICITIS</p>
				</div></a>
				<a href="problema.php"><div class="col-md-6" style="background: url('http://placehold.it/600x100'); max-width: 100%; height: 100px; margin-top: 15px;">
					<p class="text-right" style="color: #FFF; text-shadow: 1px 1px #262626; font-family: 'Montserrat', sans-serif; font-weight: 400; font-size: 22px; line-height: 100px;">CANCER DE ESTOMAGO</p>
				</div></a>
			</div>
		</div>